<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Қателік</title>
</head>
<body>
    <hgroup>
        <h1>Қателік.</h1>
        <h2>Сұрауыңызды өңдеу кезінде қате орын алды.</h2>
    </hgroup>
</body>
</html>
